<body>
  <div class="container mx-auto mt-5">
    <div class="logForm col-11 col-md-6 m-auto">
      <form role="form" method="POST" action="script/login.php">
        <fieldset>
          <p class="my-2 text-uppercase">Login</p>
          <div class="form-group">
            <input
              type="text"
              name="email"
              class="form-control input-lg my-2"
              placeholder="Email"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              class="form-control input-lg my-2"
              placeholder="Password"
              required
              autocomplete="off"
            />
          </div>
          <div>
            <input
              type="submit"
              name="login"
              class="btn btn-sm btn-outline-dark"
              value="Login"
            />
            <a class="signUp btn btn-sm btn-outline-dark">Sign Up</a>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="regForm col-11 col-md-6 m-auto">
      <form role="form" method="post" action="script/create_user.php">
        <fieldset>
          <p class="my-2 text-uppercase pull-center">Register</p>
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="form-control input-lg my-2"
              placeholder="First Name"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="surname"
              class="form-control input-lg my-2"
              placeholder="Last Name"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control input-lg my-2"
              placeholder="Email Address"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              class="form-control input-lg my-2"
              placeholder="Password"
              required
              minlength="5"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password_"
              class="form-control input-lg my-2"
              placeholder="Confirm Password"
              required
              minlength="5"
              autocomplete="off"
            />
          </div>
          <div>
            <input
              type="submit"
              name="register"
              class="btn btn-sm btn-outline-dark"
              value="Register"
            />
            <a class="backSignUp btn btn-sm btn-outline-dark">Back</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>
