<body>
  <div class="container">
    <div class="jumbotron p-3 p-md-5 my-5 link-light bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Welcome to... Blog</h1>
        <p class="lead my-3">
          Multiple lines of text that form the lede, informing new readers
          quickly and efficiently about what's most interesting in this post's
          contents.
        </p>
        <p class="lead mb-0">
          <a href="article.php" class="text-white font-weight-bold"
            >Continue reading...</a
          >
        </p>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div>
            <h2>Sample blog post</h2>
            <p>January</p>

            <p>
              This blog post shows a few different types of content that's
              supported and styled with Bootstrap. Basic typography, images, and
              code are all supported.
            </p>
            <hr />
            <p>
              Cum sociis natoque penatibus et magnis
              <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
              Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
              vestibulum. Sed posuere consectetur est at lobortis. Cras mattis
              consectetur purus sit amet fermentum.
            </p>
            <blockquote>
              <p>
                Curabitur blandit tempus porttitor.
                <strong>Nullam quis risus eget urna mollis</strong> ornare vel
                eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </blockquote>
            <p>
              Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras
              mattis consectetur purus sit amet fermentum. Aenean lacinia
              bibendum nulla sed consectetur.
            </p>
            <h2>Heading</h2>
            <p>
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
              ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
              consectetur ac, vestibulum at eros.
            </p>
            <h3>Sub-heading</h3>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus.
            </p>
            <pre><code>Example code block</code></pre>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem
              malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus
              commodo, tortor mauris condimentum nibh, ut fermentum massa.
            </p>
            <h3>Sub-heading</h3>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Aenean lacinia bibendum nulla sed
              consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
              dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
              ut fermentum massa justo sit amet risus.
            </p>
            <ul>
              <li>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur
                et.
              </li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae
              elit libero, a pharetra augue.
            </p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.
              </li>
              <li>
                Maecenas sed diam eget risus varius blandit sit amet non magna.
              </li>
            </ol>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Sed posuere
              consectetur est at lobortis.
            </p>
          </div>
          <!-- /.blog-post -->

          <div>
            <h2>Another blog post</h2>
            <p>May</p>

            <p>
              Cum sociis natoque penatibus et magnis
              <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
              Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
              vestibulum. Sed posuere consectetur est at lobortis. Cras mattis
              consectetur purus sit amet fermentum.
            </p>
            <blockquote>
              <p>
                Curabitur blandit tempus porttitor.
                <strong>Nullam quis risus eget urna mollis</strong> ornare vel
                eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </blockquote>
            <p>
              Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras
              mattis consectetur purus sit amet fermentum. Aenean lacinia
              bibendum nulla sed consectetur.
            </p>
            <p>
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
              ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
              consectetur ac, vestibulum at eros.
            </p>
          </div>
          <!-- /.blog-post -->

          <div>
            <h2>New feature</h2>
            <p>November</p>

            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Aenean lacinia bibendum nulla sed
              consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
              dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
              ut fermentum massa justo sit amet risus.
            </p>
            <ul>
              <li>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur
                et.
              </li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>
              Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras
              mattis consectetur purus sit amet fermentum. Aenean lacinia
              bibendum nulla sed consectetur.
            </p>
            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae
              elit libero, a pharetra augue.
            </p>
          </div>
          <!-- /.blog-post -->
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
              iusto?
            </p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">December</a></li>
              <li><a href="#">November</a></li>
              <li><a href="#">October</a></li>
              <li><a href="#">September</a></li>
              <li><a href="#">August</a></li>
              <li><a href="#">July</a></li>
              <li><a href="#">June</a></li>
              <li><a href="#">May</a></li>
              <li><a href="#">April</a></li>
              <li><a href="#">March</a></li>
              <li><a href="#">February</a></li>
              <li><a href="#">January</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">GitHub</a></li>
            </ol>
          </div>
        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
    <!-- /.container -->
  </div>
</body>
