<div class="container">
  <div class="jumbotron p-3 p-md-5 my-5 text-white bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">My Posts</h1>
      <p class="lead my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis ducimus
        consequuntur id quia nemo saepe eligendi aperiam eum ad! Tempore nihil
        eligendi odio facere reprehenderit?
      </p>
      <p class="lead my-3"><a class="myPostDelete link-light">Delete</a></p>
    </div>
  </div>
</div>
