* {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
p {
  text-align: justify;
}
:is(.regForm, .articleDelYes, .articleDelNo, .deleteArticle, .createArticleForm, .createPost, .upArr, .deletePost, .postDelNo, .postDelYes) {
  display: none;
}
:is(a, .adminArticle, .showForm, .createTextSlide) {
  cursor: pointer;
}
:is(.createTextSlide, .content) {
  max-width: 50ch;
}
:is(.createTextSlide, .btn, .form-control) {
  border-radius: 0;
}
:is(.textForms, .form-control) {
  border: 1px solid black;
}
.createTextSlide {
  text-align: center;
}
.createTextSlide {
  padding: 2px 0;
}
.myHr {
  opacity: 1;
}
.link-dark:hover {
  color: rgba(0, 0, 0, 0.8);
}
.link-light:hover {
  color: rgba(255, 255, 255, 0.8);
}
